body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3d395a;
    color: white;
}

/* ------------------------------------------- general */

h1 {
    margin: 0;
}

.orange {
    color: #EBB73F;
}

.blue {
    color: #3FC9EB;
}

/* ------------------------------------------- navigation */

.navbar {
    background-color: #252741;
    padding: 8px;
    border-bottom: solid 1px #555179;
}

.brand-link {
    height: 100%;
    margin: 10px auto;
}

.brand-logo {
    height: 70px;
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: .5rem;
    margin-top: 30px;
}

.navbar-toggler i {
    font-size: 1.4rem;
    color: #EBB73F;
}

.navbar button:focus {
    outline: none;
}

.navbar-nav {
    padding: 10px 0;
}

.menu-item {
    text-align: center;
}

.menu-item a span {
    text-transform: initial;
    letter-spacing: 1px;
    font-weight: 300;
}

.menu-link {
    display: block;
    padding: .5rem;
    text-transform: lowercase;
    letter-spacing: 1px;
}

/* ------------------------------------------- home / explore */

.search-form {
    display: flex;
    margin: 1rem 0;
}

.form-control {
    background-color: #3d395a;
    color: white;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control::placeholder {
    color: #fff;
    opacity: .6;
}

.form-control:focus {
    background-color: inherit;
    color: inherit;
}

.search-submit {
    background-color: #3d395a;
    width: 4rem;
    border: 1px solid #ced4da;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.search-submit i {
    color: #EBB73F;
}

#geomap{
    height: 360px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #252741;
    border-radius: .5rem;
}

.current-marker {
    font-size: 1rem;
    margin-top: 1rem;
    color: #ced4da;
}

.search_addr {
    width: 100%;
    background-color: #3d395a;
    border: 1px solid #ced4da;
    color: #ced4da;
}

#capture {
    height: 360px;
    width: 100%;
    margin-top: 1rem;
    overflow: hidden;
    float: left;
    border: thin solid #333;
    border-left: none;
    }